:root[data-theme="theme-light"] {
  --background-color: linear-gradient(45deg, #da6d6c, #80709a, #4893ea);
  --text-color: #000000;
  --table-border-color: #333333;
}
:root[data-theme="theme-dark"] {
  --background-color: linear-gradient(45deg, #0f0c29, #1a131f, #24243e);
  --text-color: #dedede;
  --table-border-color: #CCCCCC;
}
body {
  background: var(--background-color);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
body svg {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}
body svg:hover {
  background-color: #cccccc88;
}
body svg:hover + #svgX + #svgY,
body svg:hover + #svgX {
  visibility: visible;
}
body svg .shape {
  fill: #3399FF;
}
body svg .shape:hover {
  fill: #0055BB;
}
body svg > text {
  fill: var(--text-color);
}
body svg > text:hover {
  font-weight: bolder;
}
body svg > line {
  stroke: var(--text-color);
}
body svg .marker {
  fill: var(--text-color);
}
#svgX,
#svgY {
  visibility: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
table {
  text-align: center;
  width: 75%;
  margin: auto;
}
table th,
table td,
table tr {
  padding: 10px 5px 10px 0;
}
label,
tbody {
  font-weight: bold;
}
input,
#RSelect {
  cursor: pointer;
}
input:hover,
#RSelect:hover {
  transform: scale(1.3);
}
.tableWithBorder {
  border-collapse: collapse;
  margin: auto;
  border: 2px solid var(--table-border-color);
}
.tableWithBorder tbody {
  font-weight: normal;
}
.tableWithBorder th:hover,
.tableWithBorder td:hover,
.tableWithBorder tr:hover {
  background-color: #cccccc88;
}
#YMessage {
  margin: 10px 0 0 0;
  text-shadow: dimgray 2px 2px 5px;
}
button {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
#submitButton {
  margin: 20px;
  padding: 10px;
  background-color: #22AA22;
  font-size: 18px;
}
#submitButton:hover {
  background-color: #1a801a;
}
#submitButton:active {
  background-color: #115511;
}
#resetTable {
  margin: 14px;
  padding: 6px;
  background-color: #AA2222;
  font-size: 12px;
}
#resetTable:hover {
  background-color: #801a1a;
}
#resetTable:active {
  background-color: #551111;
}
#backButton {
  margin: 20px;
  padding: 10px;
  background-color: #3399FF;
  font-size: 18px;
}
#backButton:hover {
  background-color: #2673bf;
}
#backButton:active {
  background-color: #1a4d80;
}
#hat {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 100%;
  height: 50px;
  background-color: transparent;
}
.hatDivElement img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.hatDivElement img:hover {
  transform: scale(1.3);
}
#toggleTheme {
  position: absolute;
  top: 50%;
  right: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  transform: translateY(-50%);
}
#toggleTheme:hover {
  background-color: #cccccc88;
}
#toggleTheme img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#toggleTheme img:hover {
  transform: scale(1.3);
}
#toggleLocale {
  position: absolute;
  top: 50%;
  right: 3%;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  transform: translateY(-50%);
  background-color: transparent;
}
#toggleLocale img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#toggleLocale img:hover {
  transform: scale(1.3);
}
#toggleLocale:hover {
  background-color: #cccccc88;
}
#localeSelect {
  display: none;
  position: absolute;
  top: 100%;
  right: 3%;
  border-radius: 5px;
  background-color: transparent;
}
.localeOption {
  color: var(--text-color);
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 3px 0 3px 0;
  padding: 3px;
}
.localeOption:hover {
  background-color: #cccccc88;
  transform: scale(1.3);
}
h1 {
  font-family: monospace;
}
.valueMarker {
  width: 15%;
}
.leftColumn {
  width: 15%;
}
.formRow > * {
  margin-left: 10px;
  margin-right: 10px;
}
#main404 {
  margin: 10vh;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
