:root[data-theme="theme-light"] {
  --background-color: linear-gradient(45deg, #da6d6c, #80709a, #4893ea);
  --text-color: #000000;
  --table-border-color: #333333;
}
:root[data-theme="theme-dark"] {
  --background-color: linear-gradient(45deg, #0f0c29, #1a131f, #24243e);
  --text-color: #dedede;
  --table-border-color: #CCCCCC;
}
body {
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
body svg {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}
body svg:hover {
  background-color: #cccccc88;
}
body svg:hover + #svgX + #svgY,
body svg:hover + #svgX {
  visibility: visible;
}
body svg .shape {
  fill: #3399FF;
}
body svg .shape:hover {
  fill: #0055BB;
}
body svg > text {
  fill: var(--text-color);
}
body svg > text:hover {
  font-weight: bolder;
}
body svg > line {
  stroke: var(--text-color);
}
body svg .marker {
  fill: var(--text-color);
}
#svgX,
#svgY {
  visibility: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
table {
  text-align: center;
  width: 75%;
  margin: auto;
}
table th,
table td,
table tr {
  padding: 10px 5px 10px 0;
}
label,
tbody {
  font-weight: bold;
}
.inputField {
  cursor: pointer;
}
.inputField:hover {
  transform: scale(1.3);
}
input {
  cursor: pointer;
}
input:hover {
  transform: scale(1.3);
}
.tableWithBorder {
  border-collapse: collapse;
  margin: auto;
  border: 2px solid var(--table-border-color);
}
.tableWithBorder tbody {
  font-weight: normal;
}
.tableWithBorder th:hover,
.tableWithBorder td:hover,
.tableWithBorder tr:hover {
  background-color: #cccccc88;
}
.YMessage {
  text-shadow: dimgray 2px 2px 5px;
  padding-top: 10px;
}
.button {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.button:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
button {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.submitButton {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 20px;
  padding: 10px;
  background-color: #22AA22;
  font-size: 18px;
}
.submitButton:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.submitButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.submitButton:hover {
  background-color: #1a801a;
}
.submitButton:active {
  background-color: #115511;
}
.resetButton {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 14px;
  padding: 6px;
  background-color: #AA2222;
  font-size: 16px;
}
.resetButton:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.resetButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.resetButton:hover {
  background-color: #801a1a;
}
.resetButton:active {
  background-color: #551111;
}
.backButton,
.startButton {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 20px;
  padding: 10px;
  background-color: #3399FF;
  font-size: 18px;
}
.backButton:active,
.startButton:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.backButton:disabled,
.startButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.backButton:hover,
.startButton:hover {
  background-color: #2673bf;
}
.backButton:active,
.startButton:active {
  background-color: #1a4d80;
}
.valueButton {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 20px;
  padding: 10px;
  background-color: #3399FF;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}
.valueButton:hover {
  transform: scale(1.3);
}
.valueButton:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.valueButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.valueButton:hover {
  background-color: #2673bf;
  text-decoration: none;
  color: var(--text-color);
}
.valueButton:active {
  background-color: #1a4d80;
}
.formRow {
  height: max-content;
  margin: 10px;
  padding: 10px;
}
.formRow > .valueButton {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 20px;
  padding: 10px;
  background-color: #3399FF;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}
.formRow > .valueButton:hover {
  transform: scale(1.3);
}
.formRow > .valueButton:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.formRow > .valueButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.formRow > .valueButton:hover {
  background-color: #2673bf;
  text-decoration: none;
  color: var(--text-color);
}
.formRow > .valueButton:active {
  background-color: #1a4d80;
}
.formRow > .submitButton {
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 20px;
  padding: 10px;
  background-color: #22AA22;
  font-size: 18px;
  cursor: pointer;
}
.formRow > .submitButton:active {
  transform: translateY(2px);
  box-shadow: #cccccc 2px 2px 5px;
}
.formRow > .submitButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
.formRow > .submitButton:hover {
  background-color: #1a801a;
}
.formRow > .submitButton:active {
  background-color: #115511;
}
.formRow > .submitButton:hover {
  transform: scale(1.3);
}
.textInput {
  cursor: pointer;
}
.textInput:hover {
  transform: scale(1.3);
}
.p_commandLink {
  font-weight: normal;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.p_commandLink:hover {
  text-decoration: none;
  color: var(--text-color);
}
.valueButton > .p_commandLink {
  font-weight: normal;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.valueButton > .p_commandLink:hover {
  text-decoration: none;
  color: var(--text-color);
}
#hat {
  top: 1%;
  right: 1%;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
}
#toggleTheme {
  position: relative;
  top: 50%;
  left: 91%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  transform: translateY(-50%);
}
#toggleTheme:hover {
  background-color: #cccccc88;
}
#toggleTheme img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#toggleTheme img:hover {
  transform: scale(1.3);
}
#toggleLocale {
  position: relative;
  top: 50%;
  left: 93%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  transform: translateY(-50%);
  background-color: transparent;
}
#toggleLocale img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#toggleLocale img:hover {
  transform: scale(1.3);
}
#toggleLocale:hover {
  background-color: #cccccc88;
}
.localeSelect {
  position: relative;
  display: none;
  left: 88%;
  top: 100%;
  border-radius: 5px;
  background-color: transparent;
}
.localeOption {
  color: var(--text-color);
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 3px 0 3px 0;
  padding: 3px;
}
.localeOption:hover {
  background-color: #cccccc88;
  transform: scale(1.3);
}
h1 {
  font-family: monospace;
}
.valueMarker {
  width: 15%;
}
.leftColumn {
  width: 15%;
}
.formRow > * {
  height: max-content;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
#main404 {
  margin: 10vh;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
